@import './base.css';
@import './normalize.css';

.mulish> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Mulish", sans-serif;
}